<%- include ../partials/header.ejs %>

<!-- File name: signin.ejs
Author(s): Henry Suh (301004212)
Date: Nov 11, 2021 -->

<h1><%= title %></h1>
Currently working

<% include ../partials/footer.ejs %>