<% include partials/header.ejs %>

<!-- File name: home.ejs
Author(s): Henry Suh (301004212)
Date: Nov 11, 2021 -->

<h1>Welcome to <%= title %></h1>

<div class="Container">
    <a href="/surveys/new">Create a new survey</a>
</div>
<hr>
<div class="Container">
    <p>Recommanded Surveys</p>
</div>

<% include partials/footer.ejs %>