<app-base-page></app-base-page>

<div class="container">
    <div class="row d-flex justify-content-center">
            <a  routerLink="/surveys/new" 
                class="btn bt-md btn-primary mt-3 btn-block" 
                style="min-width:10%; max-width:200px;">
                    <span style="color:white">
                        New Survey 
                    </span>
                    <i class="fas fa-plus"></i>
             </a>
    </div>
</div>

<app-list-table></app-list-table>