<app-base-page></app-base-page>

<div class="text-center w-100">
    <div class="row col-md-3 d-inline-block">
        <br/>
        <div class="jumbotron">
            <h1 class="display-6">Create your own survey</h1>
        </div>
        <br/>
            <a  routerLink="/surveys/new" 
                class="btn bt-md btn-primary mt-3 btn-block"
                style="max-width:200px;">
                    <span style="color:white">New Survey </span>
                    <i class="fas fa-plus"></i>
                </a>
    </div>
</div>

<app-list-table></app-list-table>