<% include ../partials/header.ejs %>

<!-- File name: surveys.ejs
Author(s): Henry Suh (301004212)
Date: Nov 11, 2021 -->

<h1>Welcome to <%= title %></h1>

<div class="Container">
    <p>Available Surveys</p>
</div>

<% include ../partials/footer.ejs %>